
ignore/MiniTools.sketchplugin/Contents/Sketch/max-character-length.js

ignore/MiniTools.sketchplugin/Contents/Sketch/kevtools.js

ignore/MiniTools.sketchplugin/Contents/Sketch/character-length-tests.js

ignore/MiniTools.sketchplugin/Contents/Sketch/character-count.js

ignore/MiniTools.sketchplugin/Contents/Sketch/manifest.json
